# Generate training data for SQL command sets

In [4]:
import os
from google.colab import userdata

In [5]:
github_token = userdata.get("GITHUB_TOKEN")

# Install the private repository using the token
!pip install --upgrade git+https://{github_token}@github.com/withmartian/quanta_text_to_sql.git

import QuantaTextToSql as qts

Collecting git+https://****@github.com/withmartian/quanta_text_to_sql.git
  Cloning https://****@github.com/withmartian/quanta_text_to_sql.git to /tmp/pip-req-build-s1axbrp1
  Running command git clone --filter=blob:none --quiet 'https://****@github.com/withmartian/quanta_text_to_sql.git' /tmp/pip-req-build-s1axbrp1
  Resolved https://****@github.com/withmartian/quanta_text_to_sql.git to commit 8b9825f9d57e9f05a9ead9cad649a8a5deba9d47
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: numpy>=1.18.1 in /usr/local/lib/python3.10/dist-packages (from QuantaTextToSql==1.0) (1.26.4)
Requirement already satisfied: wheel in /usr/local/lib/python3.10/dist-packages (from QuantaTextToSql==1.0) (0.45.0)
Building wheels for collected packages: QuantaTextToSql
  Building wheel for QuantaTextToSql (pyproject.toml) ... done
  Created wheel for QuantaTextToSql: filename=QuantaTextToSql-1.0-py3-none-any.whl size=38482 sha256=a305964ffd06df74ae9de3f3dc303c03c7051868549af654ea515cbdf6e0e9ed
  Stored in directory: /tmp/pip-ephem-wheel-cache-7en30lb5/wheels/ec/2e/0b/f2473c76d3035232d5580b15e3979fcc34fe1494a4d6ac8cc9
Successfully built QuantaTextToSql
Installing collected packages: QuantaTextToSql
Successfully installed QuantaTextToSql-1.0

## Command set 1
Generate a JSON file containing 50K sets of:
- command_set: always 1
- table_name
- table_fields: Fields in the table with data types.
- create_statement: SQL statement to create table. Gives context
- select: Fields in the SELECT statement, with aggregates (if any)
- order_by: Fields in the ORDER BY statement, with ASC / DESC
- english_prompt: English "prompt requesting information
- sql_statement: SQL statement "answer"

For training, key fields are create_statement (context), english_prompt (prompt) and sql_statement (ground truth).

In [6]:
ts1 = qts.generate_cs1(50)

In [8]:
print(ts1[0].get_alpaca_prompt())

### Instruction:
Return thumbnail, unit_price, reference_id, uuid, university and votes from cost
### Context:
CREATE TABLE cost (
    reference_id VARCHAR(50),
    min_score SMALLINT,
    uuid UUID,
    is_published TINYINT(1),
    thumbnail VARCHAR(255),
    votes INTEGER,
    university TEXT,
    name VARCHAR(100),
    display_name VARCHAR(100),
    unit_price NUMERIC(10,2)
)
### Response:

## Command set 2

In [9]:
ts2 = qts.generate_cs2(50)

In [10]:
print(ts2[0].get_alpaca_prompt())

### Instruction:
Give me content_blob from labels  time ordered by is_default, ORDER BY content_blob
### Context:
CREATE TABLE labels (
    is_default TINYINT(1),
    content_blob BYTEA
)
### Response:

## Command set 3

In [11]:
ts3 = qts.generate_cs3(50)

In [12]:
print(ts3[0].get_alpaca_prompt())

### Instruction:
Get a readout of times date_fired and lowest model from votes  a to z by date_fired, showing first the lowest api_key
### Context:
CREATE TABLE votes (
    date_fired DATE,
    selected BOOLEAN,
    reset_at DATETIME,
    email VARCHAR(100),
    model TEXT,
    access_token VARCHAR(255),
    rank SMALLINT,
    api_key TEXT,
    member_count INTEGER,
    last_message TEXT,
    progress DECIMAL(5,2)
)
### Response: